<div class="idea-new">
<%= link_to 'アイデアを登録', new_idea_path, class: "add-shop button" %>
</div>

<div class='search-category'>
  <%= search_form_for @p, url: search_path do |f| %>
    <div class="form form-category">
      <div class="search-form-title"><%= f.label :category_id_eq, 'カテゴリを指定' %></div>
      <div class="">
        <%= f.collection_select :category_id_eq, @categorys, :id, :name, {include_blank: "指定なし"} %>
        <br>
      </div>
    </div>
    <div class="search-button">
      <%= f.submit '検索',{class: 'submit-button'} %>
    </div>
  <% end %>
</div>

<div class='idea-list-title'>アイデア一覧</div>

<div class='idea-list'>
<ul>
<% @ideas.each do |idea| %>
<li>
<div>カテゴリ名：<%= idea.category.name %></div>
<div>アイデア詳細：<%= idea.body %></div>
</li>

<% end %>
</ul>
<div>

