<h1 class="app-title">アイデア管理API</h1>

<div class="idea-new">
  <%= link_to 'アイデアを登録', new_idea_path, class: "add-idea-button" %>
</div>

<div class='search-category'>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
      <div class="search-form-title">
        <%= f.label :name, 'カテゴリを指定' %>
      </div>
      
        <%= f.text_field :name, class: 'search-form', placeholder:'カテゴリ名を入力' %>
        <%= f.submit '検索', class: 'submit-button' %>
      
  <% end %>
</div>

<div class='idea-list-title'>アイデア一覧</div>

<div class='idea-list'>
  <ul>
  <% @ideas.each do |idea| %>
  <li class='detail'>
  <div>id：<%= idea.id %></div>
  <div>カテゴリ名：<%= idea.category.name %></div>
  <div>アイデア詳細：<%= idea.body %></div>
  </li>

  <% end %>
  </ul>
<div>

