<h1 class="app-title">アイデア管理API</h1>

<div class="idea-new">
  <%= link_to 'アイデアを登録', new_idea_path, class: "add-idea-button" %>
</div>

<div class='search-category'>
  <%= form_with url: ideas_path, method: :get, local: true do |f| %>
      <div class="search-form-title">
        <%= f.label :name, 'カテゴリを取得' %>
      </div>
      
        <%= f.text_field :name, class: 'search-form', placeholder:'カテゴリ名を入力' %>
        <%= f.submit '検索', class: 'submit-button' %>
      
  <% end %>
</div>

<% if @results.nil? %>
<h1 class='search-title'>取得結果</h1>  
<div>指定されたカテゴリは見つかりませんでした</div>
<% else %>
<h1 class='search-title'>取得結果</h1>  
<ul>
  <% @results.each do |result| %>
    <li class='detail'>
      <div>id：<%= result.id %></div>
      <div>カテゴリ名：<%= result.category.name %></div>
      <div>アプリ詳細：<%= result.body %></div>
    </li>
  <% end %>
<% end %>
</ul>
