<%= form_with model:@category_idea, url: ideas_path, local: true do |f| %>
  <div class="form-group">
    <div class='form-text-wrapper'>
      <label class="form-title">カテゴリー名</label>
      <%= f.text_field :name, class:"input-default", id:"category-name", placeholder:"カテゴリを入力" %>
    </div>
    <div class='form-text-wrapper'>
      <label class="form-title">アイデア名</label>
      <%= f.text_area :body, class:"input-default", id:"idea-name", placeholder:"アイデアを入力" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  </div>
<% end %>

<%= link_to 'トップページへ戻る', root_path %>
